.ant-steps {
  $steps: &;

  &-item {
    $item: &;

    // &-icon {
    //     @apply flex justify-center items-center;
    // }

    &-process {
      & #{$item}-container #{$item}-icon {
        @apply border-sky-600 bg-sky-600;
      }
    }
    &-finish {
      & #{$item}-container #{$item}-icon {
        @apply border-sky-600;

        & > #{$steps}-icon {
          @apply text-sky-600;
        }
      }
    }

    &-icon {
      #{$steps}-icon {
        @apply my-auto flex h-full w-full items-center justify-center;
      }
    }
  }

  &#{$steps}-vertical#{$steps}-small {
    #{$steps}-item-content {
      min-height: 2.25rem;
    }
  }
}
